body {
    font-family: 'Arial';
    background-color: #eee;
    padding: 10px;
}

div {
    margin-bottom: 10px;
}

.cuenta {
    background: white;
    border: solid 1px #ccc;
    padding: 10px;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: blue;
}

p {
    font-size: 14px;
}
